.contact .flexslider {
	border: 4px solid #56bc94;
	-webkit-box-shadow: 0px 8px 26px -2px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 8px 26px -2px rgba(0,0,0,0.68);
	box-shadow: 0px 8px 26px -2px rgba(0,0,0,0.68);
}

.signup  .gallery {
	margin-top: 35px;
	margin-bottom: 0px;
	padding-left: 20%;
	padding-right: 20%;
}

.signup .flexslider {
	-webkit-box-shadow: 0px 8px 26px -2px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 8px 26px -2px rgba(0,0,0,0.68);
	box-shadow: 0px 8px 26px -2px rgba(0,0,0,0.68);
}

.main .flexslider {
	-webkit-box-shadow: 0px 8px 26px -2px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 8px 26px -2px rgba(0,0,0,0.68);
	box-shadow: 0px 8px 26px -2px rgba(0,0,0,0.68);
}

#gallery  .filters  .taxa{
	padding-bottom: 50px;
}

#gallery  .filters  .location{
	padding-bottom: 0px;
}
